.base {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.time {
  font-size: 0.875rem;
}

.link {
  width: fit-content;
  text-decoration: underline;

  &:hover {
    color: var(--link-color);
  }
}

.heading {
  display: inline;
  font-size: 1.5rem;
  font-weight: 500;
}

.hr {
  height: 1px;
  margin-block: 12px;
  border-top: 1px solid #c5c6c7;
}
