.base {
  display: flex;
  flex-direction: column;

  & h1,
  & h2 {
    margin-block-end: 16px;
    font-size: 1.5rem;
  }

  & > h1:not(:first-child),
  & > h2:not(:first-child) {
    margin-block-start: 32px;
  }

  & h3,
  & h4 {
    margin-block-end: 12px;
    font-size: 1.25rem;
  }

  & > h3:not(:first-child),
  & > h4:not(:first-child) {
    margin-block-start: 24px;
  }

  & img {
    padding-block: 24px;
  }

  & a {
    color: var(--accent-color);
    text-decoration: underline;

    &:hover {
      opacity: 0.7;
    }
  }

  & p > code {
    padding: 4px 8px;
    font-size: 14px;
    background-color: var(--highlight-color);
    border-radius: 4px;
  }

  & figure {
    padding: 24px;
    margin-block: 24px;
    overflow-x: auto;
    background-color: var(--highlight-color);
    border-radius: 12px;
  }

  & figure > pre {
    padding-block: 24px;
    margin: 0;
    overflow: visible;
    background: transparent;
    border-radius: 6px;
  }

  & figure > pre > code {
    font-size: 14px;
    line-height: 1.6;
    counter-reset: line;
  }

  & figure > pre > code [data-line] {
    display: block;
    padding: 0 1rem;
  }

  & figure > pre > code [data-line]::before {
    display: inline-block;
    width: 2rem;
    margin-right: 1rem;
    font-size: 12px;
    color: var(--text-secondary-color);
    text-align: right;
    content: counter(line);
    counter-increment: line;
    user-select: none;
  }

  &:not(ul) > ul,
  &:not(ol) > ol {
    margin-block: 16px;
  }

  & ul > li,
  & ol > li {
    margin-inline-start: 16px;
  }

  & ul > li {
    list-style-type: disc;
  }

  & ol > li {
    list-style-type: decimal;
  }
}
