.tags {
  display: flex;
  column-gap: 16px;
  flex-wrap: wrap;
}

.tag {
  padding-inline: 16px;
  padding-block: 4px;
  border: 1px solid #8a8988;
  color: #8a8988;
  width: fit-content;
  border-radius: 24px;
  font-size: 0.875rem;
}
