.tags {
  display: flex;
  flex-wrap: wrap;
  column-gap: 12px;
}

.tag {
  display: inline-flex;
  column-gap: 2px;
  width: fit-content;
  padding-block: 2px;
  padding-inline: 8px;
  font-size: 0.675rem;
  color: var(--border-solid-color);
  border: 1px solid var(--border-solid-color);
  border-radius: 24px;

  &:hover {
    color: var(--foreground-color);
    background-color: var(--highlight-color);
  }
}
