:root {
  --background-color: #fcfbfa;
  --foreground-color: #444;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
