:root {
  --background-color: #fcfbfa;
  --foreground-color: #444444;
}

html,
body {
  height: 100%;
}

body {
  color: var(--foreground-color);
  background-color: var(--background-color);
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
