:root {
  --background-color: #fcfbfa;
  --foreground-color: #000000a8;
  --accent-color: #7ab6d9;
  --highlight-color: #f7f2f0;
  --border-solid-color: #8a8988;
  --border-grayish-color: #c5c6c7;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  color: var(--foreground-color);
  background-color: var(--background-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  line-height: 1.7;
  outline-color: var(--link-color);
}
