.base {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
  width: 100%;
  max-width: 768px;
  padding-block: 88px 128px;
  padding-inline: 16px;
  margin-inline: auto;

  @media (width >= 768px) {
    padding-inline: 24px;
  }
}

.header {
  position: sticky;
  top: 0;
}
