.base {
  display: flex;
  flex-direction: column;
}

.inner {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  align-items: center;
}

.date {
  font-size: 0.875rem;
}

.image {
  width: 160px;
  height: 160px;
}

.heading {
  font-size: 1.75rem;
}

.content {
  padding-block-start: 48px;
}
