.base {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 64px;
  background-color: var(--background-color);
  border-block-end: 1px solid #8a8988;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 768px;
  padding-inline: 16px;
  margin-inline: auto;

  @media (width >= 768px) {
    padding-inline: 24px;
  }
}

.logo {
  text-decoration: underline;
}

.navigationList {
  display: flex;
  column-gap: 16px;
}

.navigationItem {
  list-style: none;
}
