.base {
  display: inline-flex;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  max-width: fit-content;
  padding-block: 16px;
  color: var(--foreground-color);
  background-color: var(--background-color);
  border: 1px solid var(--foreground-color);
  border-radius: 12px;

  .icon {
    width: 20px;
    height: 20px;
    margin: 4px;
  }

  &:hover {
    .icon {
      animation: move 0.5s ease-out forwards;
    }
  }
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(10px);
  }
}
