.base {
  --link-foreground-color: var(--foreground-color);
  --link-background-color: var(--background-color);

  display: inline-flex;
  column-gap: 12px;
  align-items: center;
  justify-content: center;
  min-width: 200px;
  padding-block: 16px;
  color: var(--link-foreground-color);
  background-color: var(--link-background-color);
  border: 1px solid var(--link-foreground-color);
  border-radius: 12px;

  .icon {
    width: 20px;
    height: 20px;
    margin: 4px;
  }

  &:hover {
    .icon {
      animation: move 0.5s ease-out;
    }
  }
}

@keyframes move {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(10px);
  }
}
