.base {
  display: flex;
  flex-direction: column;

  & h1,
  & h2 {
    margin-block: 16px;
    font-size: 1.5rem;
  }

  & h3 {
    margin-block-end: 12px;
    font-size: 1.25rem;
  }

  & h4 {
    margin-block-end: 12px;
    font-size: 1.125rem;
  }

  & img {
    padding-block: 24px;
  }

  & a {
    color: var(--link-color);
    text-decoration: underline;
  }

  & p > code {
    padding: 4px 8px;
    font-size: 14px;
    background-color: white;

    /* background-color: var(--code-background-color); */
    border-radius: 4px;
  }

  & figure > pre > code {
    margin-block: 24px;
  }

  & ul,
  & ol {
    margin-block: 16px;
  }

  & ul > li {
    margin-inline-start: 24px;
    list-style-type: disc;
  }

  & ol > li {
    margin-inline-start: 24px;
    list-style-type: decimal;
  }
}
